.description {
	position:absolute; /* absolute position (so we can position it where we want)*/
	bottom:50%; /* position will be in center */
	left:0em;
	width:100%;
	/* styling bellow */
	background-color:black;
	font-family: 'tahoma';
	font-size:15px;
	color:white;
	opacity:0.6; /* transparency */
	filter:alpha(opacity=60); /* IE transparency */
}

.description_content {
	padding:10px;
	text-align: center;
}

.panel-primary {
	margin-bottom: 5px;
}

.calendar-table {
	width: 100%;
}

.calendar-item {
	margin-bottom: 0px;
	height: 7em;
	overflow-y: auto;
}

.not-in-month {
	background-color: #DDD;
}

.cal-date {
	font-size: 1.5em;
}

.cal-today {
	font-weight: bold;
	background-color: #DDF;
}

.cal-col {
	width: 14.2%;
	padding: 0px;
}

.alert-placeholder{
  margin: 20px;
}
